# -*- mode: yaml; mode: flyspell-prog; -*-

If:
  PathMatch: .*\.h
  CompileFlags:
    Add: [-xc++]

CompileFlags:
  Add:
    - -Idebugger

Diagnostics:
  ClangTidy:
    Remove:
      # suppress ExtendedClass::parentClassMethod
      - readability-qualified-auto


