name: C/C++ CI

on:
  push:
    branches:
      - main
      - devel
    tags-ignore:
      - '*.*.*'
    paths-ignore:
      - ".github/**"
      - "**/*.adoc"
      - "**/*.md"
      - "**/*.txt"
      - "library.*"
      - "**/*.asm"
      - "**/*.inc"
      - "**/*.hex"
      - "**/*.s19"
      - "**/*.s28"
      - "**/*.s37"
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    - name: build test and run
      run: cd test; make test
    - name: build generator
      run: cd test; make gen
    - name: build command line interface
      run: cd cli; make cli
